# Dependencias detectadas automaticamente
API
ASCII
ConfigParser
Cython
DistlibException
Generic
HTMLParser
IPython
OpenSSL
Queue
SAX
SetuptoolsDeprecationWarning
StringIO
_abc
_abcoll
_abnf
_adapters
_aix_support
_api
_app
_apply_pyprojecttoml
_asyncgens
_base_connection
_cell_widths
_cffi_backend
_channel
_check_streams
_checkpoints
_cmp
_collections
_collections_abc
_common
_compat
_concat_tb
_config
_cookiejar
_core
_deprecate
_deprecation
_deprecation_warning
_dispatcher
_dists
_distutils_hack
_dtls
_dummy_thread
_elffile
_emoji_codes
_emoji_replace
_entry_points
_entry_queue
_envs
_events
_exceptions
_export_format
_extension
_file_io
_fileno
_framework_compat
_frozen_importlib
_frozen_importlib_external
_funcs
_functools
_generated_instrumentation
_generated_run
_generated_windows_ffi
_handshake
_headers
_highlevel_generic
_highlevel_open_tcp_listeners
_highlevel_open_tcp_stream
_highlevel_open_unix_stream
_highlevel_serve_listeners
_highlevel_socket
_highlevel_ssl_helpers
_htmlparser
_http
_imp
_imp_emulation
_impl
_importlib
_in_process
_instrumentation
_internal_utils
_io_common
_itertools
_json
_ki
_legacy
_local
_log_render
_logging
_loop
_macos_compat
_make
_manylinux
_memory_streams
_meta
_mock_clock
_multibytecodec
_network
_next_gen
_osx_support
_palettes
_parking_lot
_parser
_path
_pick
_pytest
_raises_group
_ratio
_re
_readers
_receivebuffer
_reqs
_request_methods
_run
_run_context
_sequencer
_signals
_socket
_spdx
_spinners
_ssl
_ssl_compat
_ssl_constants
_state
_structures
_subprocess
_subprocess_platform
_sync
_sysconfig
_text
_thread
_thread_cache
_threads
_timeouts
_tokenizer
_traps
_trio_test
_types
_typeshed
_unbounded_queue
_url
_util
_utils
_version
_version_info
_wakeup_socketpair
_windows_cffi
_winreg
_wrap
_writers
a
abc
above
abstract
accessibility
actions
adapters
align
an
android
animation
annotationlib
another
ansi
api
array
ast
ast_transforms
astor
async_generator
atexit
attr
attrs
audits
auth
autofill
background_service
backports
base
binascii
bisect
black
bluetooth_emulation
box
brotli
brotlicffi
browser
bs4
build
builder
bz2
cProfile
cStringIO
c_ast
c_lexer
c_parser
cache_storage
calendar
candidates
cast
cchardet
cd
cells
certifi
certs
cffi
cffi_opcode
cgi
chardet
charset_normalizer
cli
click
code
codecs
color
color_triplet
colorsys
columns
com
common
commontypes
compat
compileall
compression
concurrent
configparser
connection
connectionpool
console
constant
constrain
containers
contextlib
contextvars
control
converters
cookies
copyreg
core
crash_report_context
criterion
cryptography
css
css_match
css_parser
css_types
ctypes
curio
dammit
debugger
decimal
default_styles
device_access
device_orientation
difflib
dis
distro
distutils
dl
docutils
dom
dom_debugger
dom_snapshot
dom_storage
dotenv
dummy_thread
dummy_threading
each
element
email
emoji
emulation
encodings
errno
error
error_reporting
errors
event_breakpoints
events
exceptiongroup
exceptions
executing
expand
ext
extensions
extra_validations
factory
fastjsonschema_exceptions
fastjsonschema_validations
fcntl
fed_cm
fetch
ffiplatform
fields
file_proxy
file_system
filelock
filepost
filesize
filter
fnmatch
formats
formatter
found_candidates
fractions
frame_protocol
get_console
getopt
getpass
glob
grp
gzip
h11
h2
handshake
headless_experimental
heap_profiler
heapq
helpers
highlighter
hmac
hooks
html
html5lib
htmlentitydefs
http
http2
httplib
hypothesis
idna
idnadata
imp
importlib_metadata
index
indexed_db
input_
inside
inspector
intranges
ipaddress
ipywidgets
isort
it
java
jedi
jinja2
jnius
js
jupyter
keyring
keyword
layer_tree
legacy
licenses
linecache
live
live_render
locale
lock
log
lxml
lzma
main
markers
markup
marshal
md
measure
media
memory
mimetypes
mmap
model
models
module_with_deprecations
modules
monkey
more
msvcrt
mypy
nearest
netrc
network
ntpath
numbers
numpy
optparse
org
outcome
overlay
package_data
packages
packaging
padding
page
pager
palette
panel
parser
pdb
performance
performance_timeline
pickle
pip
pkg_resources
plistlib
poolmanager
posixpath
pprint
preload
pretty
profiler
progress_bar
protocol
providers
pstats
pty
pwa
pwd
py34compat
py36compat
py37compat
py39compat
py_compile
pycparser
pylint
pyodide
pyparsing
pyright
pytest
python_socks
queue
railroad
readline
recipes
redis
regex
region
reporters
repr
reprlib
req_file
req_install
req_set
request
requests
requirements
resolution
resolvers
resources
response
results
retry
ruff
runpy
runtime
schema
scope
screen
security
segment
select
selectors
selenium
serializable
service_worker
sessions
setters
setupcfg
setuptools
shlex
signal
simplejson
site
smart_card_emulation
sniffio
socks
sortedcontainers
sorteddict
sortedlist
sortedset
soupsieve
sources
specifiers
sphinx
spinner
ssl
ssl_
standard
stat
status_codes
storage
struct
structs
structures
style
styled
sub
syntax
sysconfig
system_info
table
tags
tarfile
target
terminal_theme
termios
test_ki
test_socket
test_ssl
testing
tethering
text
textwrap
the
them
theme
thread
timeout
tokenize
tomllib
tracing
trio
trio_websocket
trove_classifiers
trustme
tutil
typing_extensions
unicode
unicodedata
unittest
upload
url
urllib2
urllib3
urlparse
util
utilities
utils
variables
version
wait
weakref
web_audio
web_authn
web_mcp
webdriver_manager
websocket
websockets
wheel
win32api
win32com
win32con
win_inet_pton
winreg
wsaccel
wsproto
xmlrpc
xmlrpclib
yaml
zipfile
zipimport
zlib
